{{> navbar}}
<link rel="stylesheet" href="/css/view-establishment.css">
<script src="/js/view-establishment.js" defer></script>

<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

<div class = "body"> <!--body container-->
    <div class = "establishment-list">
        <div class = "body"> <!--body container-->
            <div class = "establishment-list">
                {{#each resturants}}
                    <div class = "establishment"> <!-- estab1-->
                        <div class = "establishment-container"> <!-- certain establishment container 1-->
                            <div class="resto-image">
                                <img src="{{resturantIMG}}"/>
                            </div>

                            <div class = "text-container">
                                <div class = "name-font"> {{resturantName}} </div>

                                <button class="edit-button" onclick="sendData3('{{this.resturantName}}')">Edit</button>

                                <div class = "details-font">
                                    <p class="details-address">{{address}}</p>
                                    <div class="details-bestseller">
                                        Best sellers
                                            <ul>
                                                {{#each bestSellers}}
                                                    <li>{{this}}</li>
                                                {{/each}}
                                            </ul>
                                    </div>
                                        </div>
                                <button class = "button-container" onclick="sendData('{{this.resturantName}}')">View Establishment Reviews</button>
                                <button class = "button-container" onclick="sendData2('{{this.resturantName}}')">Create Review</button>
                            </div>    
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>




{{!-- Format for the establishment --}}
{{!-- <div class = "establishment"> <!-- estab1-->
    <div class = "establishment-container"> <!-- certain establishment container 1-->
        <div class="resto-image">
            <img src = "https://i.pinimg.com/564x/18/83/e4/1883e497a4b6acb0ab1c077e1927a39b.jpg" />
        </div>

        <div class = "text-container">
            <div class = "name-font"> Meaning of Things </div>

            <button class="edit-button"><a href/="edit-details">Edit</a></button>

            <div class = "details-font">
                <p class="details-address">221B Baker Street</p>
                <div class="details-bestseller">
                    Best sellers
                        <ul>
                            <li>Carbonara</li>
                            <li>Spanish Latte</li>
                            <li>Pumpkin Spice</li>
                        </ul>
                </div>
            </div>
            <button class = "button-container"><a class="a-btn" href = "/view-establishment-reviews">View Establishment Reviews</a></button>
            <button class = "button-container"><a class="a-btn" href = "/create-review-MoT">Create Review</a></button>
        </div>    
    </div>
</div> --}}